body {
    background-color: black;
    color: white;
  }
  
#desktopHeader {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
  }
  
/* Section for Buttons */
#aboutMe, #enterD, #gamesb {
  display: block;
  position: absolute;
  font-family: 'Courier New', monospace;
}

#aboutMe {
    top: 525px;
    left: 44px;
    font-size: 35px;
}

#enterD {
  top: 505px;
  left: 243px;
  font-size: 34px;
  text-align: center;
}

#gamesb {
  top: 525px;
  left: 520px;
  font-size: 35px;
}

.mobile-only, #aboutMe_mob, #enterD_mob, #gamesb_mob {  /*hides header if you are using mobile */
    display: none;
  }

/* mobile functions */
@media only screen and (max-width: 768px) {
  #mobileHeader {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
    }

  #aboutMe_mob, #enterD_mob, #gamesb_mob {
    display: block;
    position: absolute;
    font-family: 'Courier New', monospace;
    font-size: 35px;
    left: 35px;
    font-size: 35px;
  }

  /* Have to position each button here*/
  #aboutMe_mob {
    top: 270px;
  }

  #enterD_mob {
    top: 350px;
  }

  #gamesb_mob {
    top: 470px;
  }
  
  #desktopHeader {
      display: none;
    }

    /* blocks desktop features from displaying on mobile */
  #aboutMe, #enterD, #gamesb {
      display:none;
  }
}
