body {
    background-color: black;
    color: white;
  }
  
#desktopHeader {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 20px;
  }
  
.mobile-only {
    display: none;
  }
  
@media only screen and (max-width: 768px) {
    #mobileHeader {
      display: block;
      position: absolute;
      top: 0px;
      left: 10px;
      font-size: 20px;
    }
  
#desktopHeader {
      display: none;
    }
  }
